$backgroundcolor: #f2f6f7;
$light-grey: #c4c9cc;
$dark-grey: #889399;
$dark-medium-grey: #525f66;
$dark-super-grey: #393d40;

$orange: #f1783c;
$green: #96c93c;
$light-blue: #82d9d6;
$blue: #3d9ccc;
$redish: #ef7f65;